{% extends "base.html" %}


{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="hero-image">
            <img src="/static/images/office-staff.jpg"/>
        </div>
        <div class="hero-text">
            <h2 class="title">
                HelpSavvy Financial
            </h2>
            <p class="subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore qui veritatis repudiandae voluptate
                aut
                vero optio tempora ab corrupti voluptates, delectus sint sit iusto unde, nulla dolorem cum maxime
                mollitia.
            </p>
        </div>
    </div>
</section>

{% endblock %}
