{% extends "home/base.html" %} 

{% block title %}FAQ{% endblock %}
{% block content %}

<section id="faq">
    <h2>Read the answer to our most frequently asked questions!</h2>
    <div id="container">
        <div id="budget-ques" class="drop-down">
            <a href="#budget-ques" class="link">
                How to Budget properly?
            </a>
            <div class="answer">
                <p>The 50/30/20 rule of thumb is a way to allocate your budget according to three categories: needs,
                    wants, and financial goals. It’s not a hard-and-fast rule but rather a rough guideline to help
                    you
                    build a financially sound budget. Find out more detials on this <a
                        href="https://www.thebalancemoney.com/the-50-30-20-rule-of-thumb-453922"
                        target="_blank">link</a>.</p>
            </div>
        </div>
        <div id="exchange-ques" class="drop-down">
            <a href="#exchange-ques" class="link">
                What are Exhange Rates?
            </a>
            <div class="answer">
                <p>An exchange rate is the rate at which one currency will be exchanged for another currency.</p>
            </div>
        </div>
        <div id="expense-ques" class="drop-down">
            <a href="#expense-ques" class="link">
                What are my Expenses?
            </a>
            <div class="answer">
                <p>Your expenses include monthly costs plus unexpected items:</p>
                <br>
                <p>Recurring expenses: These expenses are the same each month, for items such as insurance
                    premiums,
                    gym memberships, parking, phone and internet, daycare, subscriptions and rent.</p>

                <p>Variable/discretionary expenses: Include your groceries, entertainment, dining out,
                    travel,
                    shopping, gifts, charitable giving, etc. Recent past credit card bills and bank
                    statements
                    can
                    provide guidance.</p>

                <p>Surprises: It is important to factor in the one-off expenses that hit each of us
                    occasionally.
                    Include car repairs or maintenance. Are you planning a wedding, overseas travel or home
                    renovations?
                    Anyone can be surprised, but it’s important to prepare.
                </p>
            </div>
        </div>
        <div id="travel-ques" class="drop-down">
            <a href="#travel-ques" class="link">
                What should I remember before travelling?
            </a>
            <div class="answer">
                <p>Make sure that you have access to enough money to cover all of your costs when travelling abroad,
                    including unforeseen costs eg medical care. To avoid getting into financial difficulties abroad you
                    should:</p>
                <p>- Take prepaid travel cards, traveller’s cheques, local currency, credit and bank cards with you.
                    Check
                    what you can use in the country you are visiting, and ensure you have enough money.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}