{% extends "home/base.html" %} {% block content %}

<section>
    <div class="conatiner">
        <div class="drop-down">
            <div id="budget-ques">
                <a href="#budget-ques" class="link">
                    How to budget properly?
                </a>
                <div class="answer">
                    The 50/30/20 rule of thumb is a way to allocate your budget according to three categories: needs,
                    wants, and financial goals. It’s not a hard-and-fast rule but rather a rough guideline to help you
                    build a financially sound budget. Find out more detials on this <a
                        href="https://www.thebalancemoney.com/the-50-30-20-rule-of-thumb-453922"
                        target="_blank">link</a>.
                </div>
            </div>

            <div id="exchange-ques">
                <a href="#exchange-ques" class="link">
                    What are exhange rates?
                </a>
                <div class="answer">
                    An exchange rate is the rate at which one currency will be exchanged for another currency.
                </div>
            </div>
            <div id="expense-ques">
                <a href="#expense-ques" class="link">
                    What are my expense?
                </a>
                <div class="answer">
                        Your expenses include monthly costs plus unexpected items:
                        <ul>
                            <p>Recurring expenses. These expenses are the same each month, for items such as insurance
                                premiums,
                                gym memberships, parking, phone and internet, daycare, subscriptions and rent.</p>
                        <ul>
                        <ul>
                            Variable/discretionary expenses. Include your groceries, entertainment, dining out,
                            travel,
                            shopping, gifts, charitable giving, etc. Recent past credit card bills and bank
                            statements
                            can
                            provide guidance.
                        <ul>
                        <ul>
                            Surprises. It is important to factor in the one-off expenses that hit each of us
                            occasionally.
                            Include car repairs or maintenance. Are you planning a wedding, overseas travel or home
                            renovations?
                            Anyone can be surprised, but it’s important to prepare.
                        <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}