{% extends "home/base.html" %}

{% block title %}Primary{% endblock %}

{% block content %}
<div class="income-form">
  <h2>Please provide us with your monthly net income.</h2>
  <form action="#" method="post">
    <label id="label" for="userIncome">Your net income: </label>
    <input type="number" name="userIncome" id="userIncome" />
    <select id="currency" name="currency">
      <option>Select Currency</option>
      <option value="KWD">KWD-Kuwaiti Dinar</option>
      <option value="BHD">BHD-Bahraini Dinar</option>
      <option value="OMR">OMR-Omani Rial</option>
      <option value="JOD">JOD-Jordanian Dinar</option>
      <option value="GBP">GBP-British Pound Sterling</option>
      <option value="KYD">KYD-Cayman Islands Dollar</option>
      <option value="EUR">EUR-Euro</option>
      <option value="CHF">CHF-Swiss Franc</option>
      <option value="USD">USD-US Dollar</option>
      <option value="CAD">CAD-Canadian Dollar</option>
    </select>
    <br />
    <input type="button" value="Submit" id="submit" class="button income-sub-but"/>
  </form>
  <p id="info">
    <span id="notice">* </span>Notice that net income is your income after all
    taxes and deductions are taken out of your paycheck. If you need further
    assistance on this visit
    <a
      id="info-link"
      href="https://en.wikipedia.org/wiki/Net_income"
      target="_blank"
      aria-label="open wikipedia link in a new tab"
      >Net Income explained.</a
    >
  </p>
</div>
<div id="income-value"></div>
<div id="selected-currency"></div>

{% endblock %}

{% block postloadjs %}
<!-- javascript code -->
<script>
  // get users income value
  let button = document.getElementById("submit");
  let income = document.getElementById("income-value");
  button.addEventListener("click", function () {
    let incomeValue = document.getElementById("userIncome").value;
    if (incomeValue === "") {
      alert("Please provide your net Income !");
    } else {
      income.innerText = `User income is: ${incomeValue}`;
    }
  });

  //code to get selected currency from user
  (function () {
    let currency_select = document.getElementById("currency");
    let result = document.getElementById("selected-currency");

    currency_select.addEventListener("change", function () {
      let selected_value = this.value;
      let selected_text = this.options[this.selectedIndex].text;
      result.innerText = `Selected currency is: ${selected_value}`;
    });
  })();
</script>
{% endblock %}
