{% extends "base.html" %} {% block content %}
<div class="income-form">
  <h2>Please provide us with your monthly net Income.</h2>
  <form action="#" method="post">
    <label id="label" for="userIncome">Your net Income: </label>
    <input type="number" name="userIncome" id="userIncome" />
    <select id="currency" name="currency">
      <option>Select Currency</option>
      <option value="KWD">KWD-Kuwaiti Dinar</option>
      <option value="BHD">BHD-Bahraini Dinar</option>
      <option value="OMR">OMR-Omani Rial</option>
      <option value="JOD">JOD-Jordanian Dinar</option>
      <option value="GBP">GBP-British Pound Sterling</option>
      <option value="KYD">KYD-Cayman Islands Dollar</option>
      <option value="EUR">EUR-Euro</option>
      <option value="CHF">CHF-Swiss Franc</option>
      <option value="USD">USD-US Dollar</option>
      <option value="CAD">CAD-Canadian Dollar</option>
    </select>
    <br />
    <label id="label" for="userExpenses1">Your Primary Expenses: </label>
    <input type="number" name="userExpenses1" id="userExpenses1" />
    <div>
      <p>
        Primary are those bills that you absolutely must pay and are the things
        necessary for survival. These expenses can include rent or mortgage
        payments, car payments, groceries, insurance, health care, minimum debt
        payment, and utilities. Please provide total of them per month (rounded
        value +-)
      </p>
    </div>
    <br />
    <label id="label" for="userExpenses2">Your Secondary Expenses: </label>
    <input type="number" name="userExpenses2" id="userExpenses2" />
    <div>
      <p>
        Secondary expenses or “wants” should account for 30% of your income.
        Anything from dining out, clothes shopping, Starbucks, your cable or
        cell phone plan, travel, gifts, or a gym membership qualifies as a want.
        In the grand scheme of things, these purchases may be important to you,
        but they are optional costs.. Please provide total of them per month
        (rounded value +-)
      </p>
    </div>
    <br />
    <label id="label" for="userExpenses3">Your Other Expenses: </label>
    <input type="number" name="userExpenses3" id="userExpenses3" />
    <br />
    <div>
      <p>
        The remaining 20% of your income should go toward saving money. About
        61% of people ages 25 to 34 have less than $1,000 saved. Saving can
        include opening a deposit account to save for an emergency fund, a down
        payment, vacation or any other larger goal. Please provide total of them
        per month (rounded value +-)
      </p>
    </div>
    <input type="button" value="Submit" id="submit" />
  </form>
  <p id="info">
    <span id="notice">* </span>Notice that net Income is your Income after all
    taxes and deductions are taken out of your paycheck. If you need further
    assistance on this visit
    <a
      id="info-link"
      href="https://en.wikipedia.org/wiki/Net_income"
      target="_blank"
      aria-label="open wikipedia link in a new tab"
      >Net Income explaind.</a
    >
  </p>
</div>
<div id="income-value"></div>
<div id="selected-currency"></div>

<div id="message1"></div>
<div id="message2"></div>
<div id="message3"></div>

<!-- javascript code -->
<script>
  // get users income value
  let button = document.getElementById("submit");
  let income = document.getElementById("income-value");
  button.addEventListener("click", function () {
    let incomeValue = document.getElementById("userIncome").value;
    if (incomeValue === "") {
      alert("Please provide your net Income !");
    } else {
      income.innerText = `User income is: ${incomeValue}`;
    }
    // getting user expenses and interact with them
    let one = document.getElementById("userExpenses1").value;
    let user = document.getElementById("userIncome").value;
    let value = parseInt((one / user) * 100);
    if (one === "") {
      alert("Provide a value for Primary expenses please!");
    } else if (value <= 50) {
      document.getElementById(
        "message1"
      ).innerHTML = `You are doing well with your Primary expenses. You spent for actual month: ${value} % of your total Income.`;
    } else {
      document.getElementById(
        "message1"
      ).innerHTML = `You should be careful with your Primary expenses, reduce something, increase Incomes if possible or follow financial advices. You spent for actual month: ${value} % of your total Income`;
    }

    let two = document.getElementById("userExpenses2").value;
    let value2 = parseInt((two / user) * 100);

    if (two === "") {
      alert("Provide a value for Secondary expenses please!");
    } else if (value2 <= 30) {
      document.getElementById(
        "message2"
      ).innerHTML = `You are doing well with your Secondary expenses. You spent for actual month: ${value2} % of your total income.`;
    } else {
      document.getElementById(
        "message2"
      ).innerHTML = `You should be careful with your Secondary expenses, reduce something, increase incomes if possible or follow financial advices. You spent for actual month: ${value2} % of your total Income`;
    }

    let three = document.getElementById("userExpenses3").value;
    let value3 = parseInt((three / user) * 100);

    if (three === "") {
      alert("Provide a value for Other expenses please!");
    } else if (value3 <= 20) {
      document.getElementById(
        "message3"
      ).innerHTML = `You are doing well with your Other expenses. You spent for actual month: ${value3} % of your total income.`;
    } else {
      document.getElementById(
        "message3"
      ).innerHTML = `You should be careful with your Other expenses, reduce something, increase incomes if possible or follow financial advices. You spent for actual month: ${value3} % of your total Income`;
    }
  });

  //code to get selected currency from user
  (function () {
    let currency_select = document.getElementById("currency");
    let result = document.getElementById("selected-currency");

    currency_select.addEventListener("change", function () {
      let selected_value = this.value;
      let selected_text = this.options[this.selectedIndex].text;
      result.innerText = `Selected currency is: ${selected_value}`;
    });
  })();
</script>
{% endblock %}
