/************************************************** Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Serif+Toto:wght@500&display=swap");

/************************************************** body */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff6bd;
}

/************************************************** navbar */

.navbar {
  background-color: #ffd4b2;
}

#nav-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  margin-right: 25px;
  max-width: fit-content;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff6bd;
}

.navbar-item {
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
}

a.navbar-item:hover {
  background-color: #bb9c84;
  transition: all .2s ease-in;
  color: black;
}

a.button is-primary {
  background-color: #ceedc7;
}

.button strong {
  color: black;
}

.button.is-light {
  color: black;
}

/************************************************** hamburger menu */

.navbar-menu.is-active {
  background-color: #ffd4b2;
  transition: all .2s ease-in;
}

/************************************************** footer */

.footer {
  background-color: #ffd4b2;
  margin-top: auto;
  padding: 3rem 1.5rem 3.5rem;
}

/************************************************** index page */
.hero {
  display: flex;
  justify-content: space-around;
}

.hero-body {
  background-color: #ceedc7;
  margin: 30px;
  display: flex;
  max-height: 500px;
  flex-direction: column;
}

.hero-text {
  background-color: #86c8bcd7;
  margin: 20px;
  min-width: fit-content;
  max-height: fit-content;
  position: absolute;
  padding: 20px 10px 20px 10px;
  border-radius: 5px;
  top: 0;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3vw;
  line-height: 44pt;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 1.5vw;
}

/*home page*/

.hero-image {
  position: relative;
  overflow: hidden;
}

.info-heading {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.info-heading h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

#about-info {
  padding-top: 30px;
  padding-right: 20px;
  float: left;
  margin: 0px 0px 20px 40px;
  text-align: center;
}

#about-info>p {
  padding-bottom: 15px;
  font-size: 130%;
}

#services {
  width: 100%;
}

.service-button {
  width: 100%;
  height: -webkit-fill-available;
  padding: 5px 15px;
  background-color: ivory;
  cursor: pointer;
  outline: none;
  border-color: bisque;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.info-img {
  aspect-ratio: 2/1;
  object-fit: contain;
}

.service-button:hover,
.service-button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.service-button:active {
  background-color: #ceedc7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.box {
  background-color: #ffd4b2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

.box h3 {
  font-size: larger
}

/************************************************** income form */

.income-form {
  background-color: #ceedc7;
  width: 80vw;
  max-width: 800px;
  min-height: 350px;
  text-align: center;
  padding: 60px 20px;
  font-family: 'Inter', sans-serif;
  margin: 10% auto;
  border-radius: 10px;
}

h2 {
  font-family: "Noto Serif Toto", serif;
  font-size: 180%;
}

#notice {
  color: red;
  font-weight: bold;
  font-size: 140%;
  vertical-align: baseline;
}

#label {
  font-weight: bold;
  font-size: 130%;
}

input[type="number"] {
  height: 25px;
  font-size: 20px;
  width: 150px;
  padding-left: 5px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgb(246, 235, 221);
  margin: 10px;
}

#currency {
  height: 31px;
  border-radius: 5px;
  border: 2px solid black;
  width: 150px;
  font-size: 100%;
  background-color: rgb(246, 235, 221);
  cursor: pointer;
  margin: 10px 0 20px;
}

#info {
  font-size: 110%;
}


.income-sub-but {
  background-color: #ffd4b2;
}

#info-link {
  text-decoration: none;
  color: rgb(76, 67, 193);
  font-weight: bold;
}

/************************************************** sign up / login forms */

.form {
  width: fit-content;
  background-color: #ceedc7;
  text-align: center;
  padding: 5%;
  margin-top: 4%;
  text-align: left;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
}

.sub-but {
  background-color: #ffd4b2;
}

.signup>p {
  line-height: 35pt;
}

.signup>p>label {
  display: none;
}

.signup>p>input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.log-but {
  background-color: #ffd4b2;
  margin-top: 5px;
}

.login>p {
  line-height: 35pt;
}

.login>p>label {
  display: none;
}

.login>p>input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
}

#id_remember {
  display: none;
}

.column > img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/************************************************** Media Queries */

@media screen and (max-width: 415px) {
  .hero-text {
    padding: 10px;
  }

  .title {
    line-height: 26pt;
  }

  .hero-body {
    padding: 24px 24px 24px 24px;
  }
}