body {
    background-color: red;
}

#nav-title {
    color: aqua;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff6bd;
}

.hero-body {
    background-color: #ceedc7;
    margin: 30px;
}

.hero-image {
    float: right;
}

.hero-text {
    float: left;
    width: 50%;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
}

.subtitle {
    font-family: 'Inter', sans-serif;
}

/*fatima home page*/
    .info-heading {
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .info-heading h2 {
        text-align: center;
        font-size: 36px;
        margin: 50px 0 10px 0;
    }

    #about-info {
        padding-top: 30px;
        padding-right: 20px;
        float: left;
        margin: 0px 0px 20px 40px;
        text-align: center;
    }

    #about-info > p {
        padding-bottom: 15px;
        font-size: 130%;
    }